@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  html {
    font-size: 16px;

    @media (min-width: 1100px) {
      font-size: 65%;
    }

    @media (min-width: 1500px) {
      font-size: 76%;
    }

    @media (min-width: 1800px) {
      font-size: 88%;
    }
  }
}

.polygon {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

.polygon-menu {
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
}

.polygon-select {
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

.polygon-select:hover {
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
}

.shadow-sm {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
}

.shadow-xmd {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.29);
}

.shadow-xsm {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 8.5px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #10384f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
